.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* heder */
.header-top {
  display: flex;
  padding-top: 30px;
  padding-bottom: 24px;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  margin-right: 40px;
}
.header-tel{
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: var(--dark-grey);
}


.header-pers-area {
  padding-left: 30px;
}

.header-bottom {
  display: flex;
  padding: 12px 45px;
  justify-content: space-between;
  border-radius: 15px;
  background-color: var(--white-color);
}
.nav-list {
  display: flex;
  height: 100%;
  align-items: center;
}
.nav-item:not(:last-child) {
  margin-right: 45px;
}
.header-left {
  padding-left: 57px;
}
.left-item:first-child {
  margin-right: 35px;
}
